<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <!-- <link rel="stylesheet" href="css/estilos.css"> -->

    <title>Lista de alumnos</title>

  </head>
  <body>
    <a href="/alumnos/nuevo">Nuevo</a>

    <div>
    </div>
<div>
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">MATRICULA</th>
          <th scope="col">ALUMNO</th>
          <th scope="col">DDI</th>
          <th scope="col">DWI</th>
          <th scope="col">ECBD</th>
          <th scope="col">PROM</th>
          <th colspan = "2">ACCIONES</th>
        </tr>
      </thead>
      <tbody>
        <% 
        for(var i=0; i < data.length; i++) 
        {
            let prom = (data[i].Ddi + data[i].Dwi + data[i].Ecbd)/(3.0);
            prom = prom.toFixed(1);
        %>

        <tr>
          <td><%= data[i].Matricula %></td>
          <td><%= data[i].Nombre %> <%= data[i].ApellidoPaterno %> <%=data[i].ApellidoMaterno %></td>
          <td><%= data[i].Ddi  %></td>
          <td><%= data[i].Dwi  %></td>
          <td><%= data[i].Ecbd %></td>
          <td><%= prom %></td>
          <td><a href="/alumnos/editar/<%= data[i].Matricula%>">Editar</a></td>
          <td><a href="/alumnos/eliminar/<%= data[i].Matricula%>">Eliminar</a></td>
        </tr>
        <%}%>
      </tbody>
    </table>
  </div>
</body>
</html>
